.landing_page_main_bg {
  background-color: black;
}
.landing_page_background_img {
  width: 100%;
}
.landing_page_part2 {
  background-color: black;
  padding: 30px;
  margin: 100px 20px;
}
.landing_page_part2_h2 {
  color: rgb(90, 90, 90);
  padding: 30px;
  font-size: 36px;
}
.landing_page_service_cards {
  display: flex;
  justify-content: space-around;
}
.landing_booking_form_box {
  padding: 20px 40px;
  align-items: center;
}
.landing_part3_workImg {
  width: 100%;
  margin-left: 40px;
}

.landing_page_part3 {
  background-color: rgb(22, 21, 21);
  margin: 100px 0;
}

.landing_page_part3 .row {
  padding: 3vw 6vw;
}

.landing_page_part3 .col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.landing_page_part3_h2 {
  font-size: 38px;
  font-weight: 900;
  margin: 30px 10px;
  color: white;
}

#RFS-Label {
  color: white;
}

.landing_page_part4 {
  color: white;
}

.landing_page_testimonials_container {
  margin: 20px 0;
  display: flex;
  padding: 60px;
  justify-content: space-around;
}

.hero_image_stats_div {
  color: rgb(189, 172, 190);
  font-weight: bolder;
  background-color: rgb(20, 20, 20);
  padding: 40px;
}

.hero_image_stats_div h3 {
  font-weight: bold;
}
